<div class="content">
  <h2>Users</h2>
  <table id="customers">
    <thead
      [appCustomD]="{ bgColor: 'yellow', fgColor: 'blue', fontSize: '15px' }"
    >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr
        [appCustomD]="{ bgColor: 'cyan', fgColor: 'black', fontSize: '20px' }"
        *ngFor="let u of users"
      >
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.username }}</td>
        <td>
          <tr>
            {{
              u.address.street
            }},
            {{
              u.address.suite
            }},
            {{
              u.address.city
            }},{{
              u.address.zipcode
            }},
          </tr>
        </td>
        <td>{{ u.phone }}</td>
        <td><a routerLink="{{ u.id }}">Details</a></td>
      </tr>
    </tbody>
  </table>
</div>
