.content {
  max-width: 100%;
  margin: auto;
  font-family: Arial,
  Helvetica,
  sans-serif;
}

.firstForm {
  margin: 0% 20%;
  padding: 2%;
  background-color: #9ebaf3;
  box-shadow: 5px 5px #aaaaaa;
  width: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  margin-bottom: 10%;
}

.buttons {
  background-color: #008CBA;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(14, 173, 99);
  color: white;
}

input {
  border-radius: 5px;
  width: 40%;
  padding: 12px 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008CBA;
  color: white;
}

.invalidDiv {
  margin-top: 20px;
  text-align: center;
  color: red;
}
